In [ ]:
import pandas as pd

In [ ]:
#| hide 
df = pd.read_csv("company1.csv", index_col=0)
df.head()

,TATAMOTORS,ASHOKLEY,OLECTRA,FORCEMOT,SMLISUZU
Financial Year 2024,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....
Financial Year 2023,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....
Financial Year 2022,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2021,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2020,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...

In [ ]:
df.iloc[0]["TATAMOTORS"]

'https://www.bseindia.com/stockinfo/AnnPdfOpen.aspx?Pname=0913b647-b205-4a3c-ad9b-8c493f97f972.pdf'

In [ ]:
df.isna()

                     TATAMOTORS  ASHOKLEY  OLECTRA  FORCEMOT  SMLISUZU
Financial Year 2024       False     False    False     False     False
Financial Year 2023       False     False    False     False     False
Financial Year 2022       False     False    False     False     False
Financial Year 2021       False     False    False     False     False
Financial Year 2020       False     False    False     False     False
Financial Year 2019       False     False    False     False     False
Financial Year 2018       False     False    False     False     False
Financial Year 2017       False     False    False     False     False
Financial Year 2016       False     False    False     False     False
Financial Year 2015       False     False    False     False     False
Financial Year 2014       False     False    False     False     False
Financial Year 2013       False     False    False     False     False
Financial Year 2012       False     False    False     False     False
Financial Year 2011       False     False     True     False      True
Financial Year 2010       False     False     True     False      True

In [ ]:
df.columns

Index(['TATAMOTORS', 'ASHOKLEY', 'OLECTRA', 'FORCEMOT', 'SMLISUZU'], dtype='object')

In [ ]:
N = df.shape[0]
N

15

In [ ]:
df =  df.drop(df.index[15])

In [ ]:
lis = []

In [ ]:
for i in df.columns:
    for j in range(N):
        if  pd.isna(df.iloc[j][i]):
            print(j, i)

13 OLECTRA
14 OLECTRA
13 SMLISUZU
14 SMLISUZU

In [ ]:
df.index[14], df.index[11], df.index[10]

('Financial Year 2010', 'Financial Year 2013', 'Financial Year 2014')

In [ ]:
#df.loc['Financial Year 2010', "TATAMOTORS"] = "https://www.tatamotors.com/wp-content/uploads/2023/10/ar-10-11.pdf"
df.loc['Financial Year 2013', 'OLECTRA'] = "https://olectra.com/wp-content/uploads/AR-2010-11.pdf"
df.loc['Financial Year 2013', 'SMLISUZU'] = "https://smlisuzu.com/storage/uploads/annual_reports/2011-bcf39abf_SML-Annual-Report-2011%20Final.pdf"
df.loc['Financial Year 2014', 'OLECTRA'] = "https://olectra.com/wp-content/uploads/AR-2009-10.pdf"
df.loc['Financial Year 2014', 'SMLISUZU'] = "https://smlisuzu.com/storage/uploads/annual_reports/2010-c8b9c3d0_SML-Annual-Report-10.pdf"

In [ ]:
df.loc['Financial Year 2014', 'OLECTRA']

'https://olectra.com/wp-content/uploads/AR-2009-10.pdf'

In [ ]:
df

,TATAMOTORS,ASHOKLEY,OLECTRA,FORCEMOT,SMLISUZU
Financial Year 2024,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....
Financial Year 2023,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....,https://www.bseindia.com/stockinfo/AnnPdfOpen....
Financial Year 2022,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2021,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2020,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2019,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2018,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2017,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2016,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2015,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...
Financial Year 2014,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://olectra.com/wp-content/uploads/AR-2009...,https://www.bseindia.com/bseplus/AnnualReport/...,https://smlisuzu.com/storage/uploads/annual_re...
Financial Year 2013,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://olectra.com/wp-content/uploads/AR-2010...,https://www.bseindia.com/bseplus/AnnualReport/...,https://smlisuzu.com/storage/uploads/annual_re...
Financial Year 2012,https://www.bseindia.com/bseplus/AnnualReport/...,https://www.bseindia.com/bseplus/AnnualReport/...,https://archives.nseindia.com/annual_reports/A...,https://www.bseindia.com/bseplus/AnnualReport/...,https://archives.nseindia.com/annual_reports/A...
Financial Year 2011,https://www.tatamotors.com/wp-content/uploads/...,https://www.bseindia.com/bseplus/AnnualReport/...,NaN,https://www.bseindia.com/bseplus/AnnualReport/...,NaN
Financial Year 2010,https://www.tatamotors.com/wp-content/uploads/...,https://archives.nseindia.com/annual_reports/A...,NaN,https://www.bseindia.com/bseplus/AnnualReport/...,NaN

In [ ]:
df.loc[13]["SMLISUZU"]

nan

In [ ]:
df.loc['Financial Year 2014', 'OLECTRA'], df.loc['Financial Year 2013', 'OLECTRA']

('https://olectra.com/wp-content/uploads/AR-2009-10.pdf',
 'https://olectra.com/wp-content/uploads/AR-2010-11.pdf')

In [ ]:
print(df.loc["Financial Year 2013", "OLECTRA"])  # Check the updated value

https://olectra.com/wp-content/uploads/AR-2010-11.pdf

In [ ]:
df.to_csv('company2.csv')

In [ ]:
for i in df.columns:
    for j in range(N):
        if not pd.isna(df.iloc[j][i]):
            
            res = req(df.iloc[j][i])
            if res.status_code != 200:
                lis.append((j,i))
        
    print("\n")

0 TATAMOTORS
1 TATAMOTORS
2 TATAMOTORS
3 TATAMOTORS
4 TATAMOTORS
5 TATAMOTORS
6 TATAMOTORS
7 TATAMOTORS
8 TATAMOTORS
9 TATAMOTORS
10 TATAMOTORS
11 TATAMOTORS
12 TATAMOTORS
13 TATAMOTORS


0 ASHOKLEY
1 ASHOKLEY
2 ASHOKLEY
3 ASHOKLEY
4 ASHOKLEY
5 ASHOKLEY
6 ASHOKLEY
7 ASHOKLEY
8 ASHOKLEY
9 ASHOKLEY
10 ASHOKLEY
11 ASHOKLEY
12 ASHOKLEY
13 ASHOKLEY
14 ASHOKLEY


0 OLECTRA
1 OLECTRA
2 OLECTRA
3 OLECTRA
4 OLECTRA
5 OLECTRA
6 OLECTRA
7 OLECTRA
8 OLECTRA
9 OLECTRA
10 OLECTRA
11 OLECTRA
12 OLECTRA


0 FORCEMOT
1 FORCEMOT
2 FORCEMOT
3 FORCEMOT
4 FORCEMOT
5 FORCEMOT
6 FORCEMOT
7 FORCEMOT
8 FORCEMOT
9 FORCEMOT
10 FORCEMOT
11 FORCEMOT
12 FORCEMOT
13 FORCEMOT
14 FORCEMOT


0 SMLISUZU
1 SMLISUZU
2 SMLISUZU
3 SMLISUZU
4 SMLISUZU
5 SMLISUZU
6 SMLISUZU
7 SMLISUZU
8 SMLISUZU
9 SMLISUZU
10 SMLISUZU
11 SMLISUZU
12 SMLISUZU

In [ ]:
count = 0
for i, j in lis:
    print(i,j)
    
    res = req(df.iloc[i][j])
    if res.status_code != 200:
        count = count + 1
        print(i, j, df.iloc[i][j])

4 ASHOKLEY
5 ASHOKLEY
7 ASHOKLEY
8 ASHOKLEY
8 ASHOKLEY https://www.bseindia.com/bseplus/AnnualReport/500477/5004770316.pdf
10 ASHOKLEY
11 ASHOKLEY
12 ASHOKLEY
2 OLECTRA
3 OLECTRA
5 OLECTRA
6 OLECTRA
8 OLECTRA
9 OLECTRA
4 FORCEMOT
11 FORCEMOT
12 FORCEMOT
13 FORCEMOT
2 SMLISUZU
3 SMLISUZU
5 SMLISUZU
7 SMLISUZU
8 SMLISUZU
9 SMLISUZU

In [ ]:
count

1

In [ ]:
df.iloc[9]["SMLISUZU"]

'https://www.bseindia.com/bseplus/AnnualReport/505192/5051920315.pdf'

In [ ]:
import httpx
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'Accept': 'text/html,application/pdf,*/*'
    }

timeout = httpx.Timeout(
    connect=5.0,  # Time to establish a connection
    read=30.0,    # Time to read the response after connection
    write=10.0,   # Time to write the request data
    pool=60.0     # Time for connection pooling
)

req = lambda x : httpx.get(x, headers=headers, timeout=timeout, follow_redirects=True )

In [ ]:
import httpx

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'Accept': 'text/html,application/pdf,*/*'
}

timeout = httpx.Timeout(connect=5.0, read=120.0, write=10.0, pool=60.0)

async def fetch_url(url):
    async with httpx.AsyncClient() as client:
        response = await client.get(url, headers=headers, timeout=timeout, follow_redirects=True)
        return response

In [ ]:
count = 0
for i, j in lis:
    print(i,j)
    
    res = await fetch_url(df.iloc[i][j])
    if res.status_code != 200:
        count = count + 1
        print(i, j, df.iloc[i][j])

4 ASHOKLEY
5 ASHOKLEY
7 ASHOKLEY
8 ASHOKLEY
10 ASHOKLEY
11 ASHOKLEY
12 ASHOKLEY
2 OLECTRA
3 OLECTRA
5 OLECTRA
6 OLECTRA
8 OLECTRA
9 OLECTRA
4 FORCEMOT
11 FORCEMOT
12 FORCEMOT
13 FORCEMOT
2 SMLISUZU
3 SMLISUZU
5 SMLISUZU
7 SMLISUZU
8 SMLISUZU
9 SMLISUZU